version: "3.9"

services:
  mainframe:
    build:
      target: test
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    tty: true
    environment:
      # disable prepared statement cache because we want to be able to create and destroy tables for each test
      # when enabled, any schema change will invalidate the cache, causing an error
      # disabling the cache results in a minor speed penalty, but this should be fine
      DB_URL: postgresql+asyncpg://postgres:postgres@db:5432?prepared_statement_cache_size=0
      MICROSOFT_TENANT_ID: tenant_id
      MICROSOFT_CLIENT_ID: client_id
      MICROSOFT_CLIENT_SECRET: client_secret
      EMAIL_RECIPIENT: email_recipient

  db:
    image: postgres
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
