[project]
name = "dragonfly-mainframe"
description = "Distributes tasks to dragonfly-clients and handles package status updates."
authors = [
    { name = "Vipyr Security Developers", email = "support@vipyrsec.com" },
]
requires-python = ">=3.12,<3.13"
license = { text = "MIT" }

dependencies = [
    "fastapi-slim>=0.95.1",
    "pydantic-settings>=2.0.0",
    "uvicorn[standard]>=0.22.0",
    "SQLAlchemy>=2.0.12",
    "python-dotenv>=1.0.0",
    "alembic>=1.10.4",
    "letsbuilda-pypi>=5.1.0",
    "structlog>=23.1.0",
    "asgi-correlation-id>=4.2.0",
    "sentry-sdk>=1.25.1",
    "structlog-sentry>=2.0.3",
    "httpx>=0.24.1",
    "psycopg2-binary",
    "pyjwt[crypto]==2.8.0",
    "dragonfly-logging-config @ git+https://github.com/vipyrsec/dragonfly-logging-config",
]
dynamic = ["version"]

[project.urls]
repository = "https://github.com/vipyrsec/dragonfly-mainframe/"
documentation = "https://docs.vipyrsec.dev/dragonfly-mainframe/"

[tool.pdm]
version = { source = "file", path = "mypackage/__init__.py" }

[tool.pdm.dev-dependencies]
lint = [
    "pre-commit>=3.6.2",
    "ruff>=0.3.0",
    "pyright>=1.1.352",
]
test = [
    "pytest>=8.0.2",
    "coverage>=7.4.3",
]
logs = ["rich>=13.4.2"]
docs = [
    "sphinx",
    "furo",
    "sphinx-autoapi",
    "releases",
]

[tool.pdm.scripts]
format = { shell = "ruff format" }
lint = { shell = "pyright; ruff check ." }
test = { shell = "docker compose -f compose.yaml -f compose-tests.yaml up --build --exit-code-from mainframe" }
coverage = { shell = "coverage run -m pytest tests -vv && coverage report -m --skip-covered && coverage xml" }
precommit = { shell = "pre-commit run --all-files" }
all = { composite = ["format", "lint", "test"] }

start = { cmd = "docker compose up --build" }

[tool.ruff]
line-length = 120

[tool.pyright]
include = ["src/**/*.py"]
ignore = ["alembic/"]

venvPath = "."
venv = ".venv"


strictListInference = true
strictDictionaryInference = true
strictSetInference = true
analyzeUnannotatedFunctions = true
strictParameterNoneValue = true
enableTypeIgnoreComments = true
reportMissingModuleSource = "warning"
reportMissingImports = "error"
reportUndefinedVariable = "error"
reportAssertAlwaysTrue = "error"
reportInvalidStringEscapeSequence = "error"
reportInvalidTypeVarUse = "error"
reportMissingTypeStubs = "none"
reportSelfClsParameterName = "error"
reportUnsupportedDunderAll = "error"
reportUnusedExpression = "error"
reportWildcardImportFromLibrary = "error"
reportGeneralTypeIssues = "error"
reportOptionalSubscript = "error"
reportOptionalMemberAccess = "error"
reportOptionalCall = "error"
reportOptionalIterable = "error"
reportOptionalContextManager = "error"
reportOptionalOperand = "error"
reportTypedDictNotRequiredAccess = "error"
reportPrivateImportUsage = "error"
reportUnboundVariable = "error"
reportUnusedCoroutine = "error"
reportConstantRedefinition = "error"
reportDeprecated = "error"
reportDuplicateImport = "error"
reportFunctionMemberAccess = "error"
reportIncompatibleMethodOverride = "error"
reportIncompatibleVariableOverride = "error"
reportIncompleteStub = "error"
reportInconsistentConstructor = "error"
reportInvalidStubStatement = "error"
reportMatchNotExhaustive = "error"
reportMissingParameterType = "error"
reportMissingTypeArgument = "error"
reportOverlappingOverload = "error"
reportPrivateUsage = "error"
reportTypeCommentUsage = "error"
reportUnknownArgumentType = "error"
reportUnknownLambdaType = "error"
reportUnknownMemberType = "error"
reportUnknownParameterType = "error"
reportUnknownVariableType = "error"
reportUnnecessaryCast = "error"
reportUnnecessaryComparison = "error"
reportUnnecessaryContains = "error"
reportUnnecessaryIsInstance = "error"
reportUnusedClass = "error"
reportUnusedImport = "error"
reportUnusedFunction = "error"
reportUnusedVariable = "error"
reportUntypedBaseClass = "error"
reportUntypedClassDecorator = "error"
reportUntypedFunctionDecorator = "error"
reportUntypedNamedTuple = "error"

[tool.coverage.run]
branch = false
omit = [
    "__pypackages__/*",
    "src/mainframe/dependencies.py",
    "src/mainframe/database.py",
    "src/mainframe/json_web_token.py",
    "src/mainframe/custom_exceptions.py",
    "src/mainframe/utils/microsoft.py",
    "src/mainframe/utils/mailer.py"
]

[tool.coverage.report]
fail_under = 100
