name: "Lint & Test"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint_test:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v3

      - name: "Setup PDM"
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: "3.11"
          cache: true

      - name: "Install dependencies"
        run: pdm install --dev

      - name: "Run precommit"
        run: pdm precommit
