---
name: Sentry release

on:
  push:
    branches:
      - main

jobs:
  sentry-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - name: Create Sentry release
        uses: getsentry/action-release@128c5058bbbe93c8e02147fe0a9c713f166259a6  # v3.4.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ vars.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ vars.SENTRY_PROJECT }}
        with:
          version_prefix: ${{ vars.SENTRY_PROJECT }}@
