---
name: Sentry release

on:
  push:
    branches:
      - main

jobs:
  sentry-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Create Sentry release
        uses: getsentry/action-release@dab6548b3c03c4717878099e43782cf5be654289  # v3.5.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ vars.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ vars.SENTRY_PROJECT }}
        with:
          version_prefix: ${{ vars.SENTRY_PROJECT }}@
